<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @article.headline %>
</p>

<p>
  <strong>Img:</strong>
  <%= @article.img %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @article.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
<br>

<%= render @article.comments %>

<%= render 'comments/new', article: @article %>
