//Index page stuff

<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Headline</th>
      <th>Img</th>
      <th> email </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.headline %></td>
        <td><%= image_tag article.img, :class => "image_small" %></td>
        <td><%= article.user.email %></td>
        <td><%= link_to 'Show', article, :class => "btn btn-primary" %></td>
        <% if can? :update, article %>
            <td><%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary" %></td>
          <% end %>
        <% if can? :destroy, article %>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @article %>
  <%= link_to 'Create new article', new_article_path, :class => "btn btn-primary" %>
<% end %>



// _form

    <div class="field">
      <%= f.label :tags %><br>
      <%= f.text_field :tags %>
    </div>
    <br>
    <div class="field">
      <%= f.label :category %><br>
      <%= f.select :category, ['Latest', 'US', 'Politics', 'Business', 'Sports', 'Opinion']%>
    </div>
    <br>
    <div class="field">
      <%= f.label :publish %><br>
      <%= f.check_box :published %>
    </div>


// Show/:id page
<p>
  <strong>Tags:</strong>
  <%= @article.tags %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published %>
</p>

right navbar

<div class="pull-right">
    <a href="/">Home</a>
    <a href="/articles">Articles</a>

    <% if current_user %>
    <a href="/profile">Profile</a>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <a href="/users/sign_in">Login</a>
    <a href="/users/sign_up">Sign up</a>
  <% end %>
  <% if can? :create, @article %>
  <%= link_to 'Create new article', new_article_path, :class => "btn btn-primary" %>
<% end %>
</div>
