<!DOCTYPE html>
<html>
  <head>
    <title>NewsroomApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="pull-right">
    <a href="/">Home</a>

    <% if current_user %>
    <a href="/profile">Profile</a>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <a href="/users/sign_in">Login</a>
    <a href="/users/sign_up">Sign up</a>
  <% end %>
</div>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
